* {
  margin: 0;
  padding: 0;
}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  z-index: 1;
  background: linear-gradient(-90deg, rgb(40, 0, 80), rgb(0, 0, 0), rgb(40, 0, 80), rgb(0, 0, 0));
  background-size: 400% 400%;
  width: 100%;
  height: 100vh;
  animation: animate 30s ease infinite;
}

/* .Header {
  z-index: 1;
  background: linear-gradient(-90deg, rgb(40, 0, 80), rgb(0, 0, 0), rgb(40, 0, 80), rgb(0, 0, 0));
  background-size: 400% 400%;
  width: 100%;
  height: 100vh;
  animation: animate 30s ease infinite;
} */

.name-container {
  position: absolute;
  top: 30px;
  left: 60px;
}

.Header h2{
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 10%;
  margin-bottom: 20px;
}

.Header ul {
  height: 50px;
  display: flex;
  justify-content: center;
}

.Header ul li {
  display: inline-block;
  padding: 40px 15px;
}

.Header ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 10px;
}

/* Line under text when hovering over */
.Header ul li a:hover {
  position: relative;
  color: #ffffff;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.Header ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.Header ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 10%;
  margin-bottom: 20px;
}

.main p {
  text-align: center;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 35%;
  margin: auto;
  color: #ffffff;
  line-height: 1.7;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

Contact card 
 .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 530px;
}

/* .left-container {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  padding: 10px;
  margin: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.right-container {
  background: #ffffff;
  background: -webkit-linear-gradient(to left, #000000, #a200ff);
  background: linear-gradient(to left, #000000, #646464); 
  flex: 1;
  height: 500px;
  width: 800px;
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 860px) {
  .card {
    flex-direction: column;
    margin: 10px;
    height: auto;
    width: 90%;
  }

  .left-container {
    flex: 1;
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    margin: 10px;
  }

  .left-container {
    flex: 1;
    max-width: 100%;
  }
}

img {
  width: 250px;
  height: 250px;
  max-width: 250px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 5px;
}

.gradienttext {
  background-image: linear-gradient(to right, #ee00ff 0%, #e5ff00 100%);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 30px;
}

.card p {
  font-size: 20px;
  color: rgb(255, 255, 255)
}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  border-collapse: collapse;
  font-size: 30px;
  margin: 50px;
}

td {

  padding: 15px;
  border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

td:first-child {
  font-weight: bold;
}

.Centering {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-container p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkedin-container {
  position: absolute;
  top: 40px;
  right: 210px;
}

.fab.fa-linkedin {
  font-size: 40px;
  color: #a3a3a3;
}

.github-container {
  position: absolute;
  top: 40px;
  right: 150px;
}

.fa-brands.fa-github {
  font-size: 40px;
  color: #a3a3a3;
}

.email-container {
  position: absolute;
  top: 40px;
  right: 80px;
}

.fa-solid.fa-envelope-circle-check {
  font-size: 40px;
  color: #a3a3a3;
}