* {
    margin: 0;
    padding: 0;
}

@media (max-width: 920px) {
  .hideOnMobile {
      display: none;
  }
}

@media (max-width: 504px) {
  .hideOnTablets {
      display: none;
  }
}


body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 1;
    background: linear-gradient(-90deg, rgb(40, 0, 80), rgb(0, 0, 0), rgb(40, 0, 80), rgb(0, 0, 0));
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 30s ease infinite;
}

/*.Header {
      z-index: 1;
    background: linear-gradient(-90deg, rgb(40, 0, 80), rgb(0, 0, 0), rgb(40, 0, 80), rgb(0, 0, 0));
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 30s ease infinite; 
}*/

/* .name-container {
    position: absolute;
    top: 30px;
    left: 60px;
  } */
  
/* .Header h2{
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10%;
    margin-bottom: 20px;
} */
  
.Header li:first-child{
  margin-right: auto;
}

.Header ul {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 22px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    margin: 0 auto;
    max-width: 1350px;
  }

.Header ul li {
    padding: 40px 15px;
}

.Header ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 22px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 10px;
  }

/* Line under text when hovering over */
.Header ul li a:hover {
    position: relative;
    color: #ffffff;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.Header ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.Header ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.intro h1 {
    text-align: left;
    color: #ffffff;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 170px auto 0 auto;
  max-width: 1350px;
}
.intro h2 {
  text-align: left;
  background: -webkit-linear-gradient(left, #ff3636fb, #e100ff, #ff0077);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 auto;
  max-width: 1350px;
}

.intro p {
    text-align: left;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    color: #ffffff;
    line-height: 1.7;
    margin: 30px auto 0 auto;
  max-width: 1350px;
}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


.linkedin-container {
  margin: 30px auto 0 auto;
  max-width: 1350px;
  }
  
  .fab.fa-linkedin {
    font-size: 40px;
    color: #a3a3a3;
  }
  
  .github-container {
    margin: 30px auto 0 auto;
    max-width: 1350px;
  }
  
  .fa-brands.fa-github {
    font-size: 40px;
    color: #a3a3a3;
  }

  .email-container {
    margin: 30px auto 0 auto;
  max-width: 1350px;
  }
  
  .fa-solid.fa-envelope-circle-check {
    font-size: 40px;
    color: #a3a3a3;
  }