* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: 1;
    background: linear-gradient(-90deg, rgb(40, 0, 80), rgb(0, 0, 0), rgb(40, 0, 80), rgb(0, 0, 0));
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 30s ease infinite;
}

/*.Header {
      z-index: 1;
    background: linear-gradient(-90deg, rgb(40, 0, 80), rgb(0, 0, 0), rgb(40, 0, 80), rgb(0, 0, 0));
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 30s ease infinite; 
}*/

.name-container {
    position: absolute;
    top: 30px;
    left: 60px;
  }
  
.Header h2{
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10%;
    margin-bottom: 20px;
}
  
.Header ul {
    height: 50px;
    display: flex;
    justify-content: center;
}

.Header ul li {
    display: inline-block;
    padding: 40px 15px;
}

.Header ul li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 22px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 10px;
  }

/* Line under text when hovering over */
.Header ul li a:hover {
    position: relative;
    color: #ffffff;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.Header ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.Header ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.main h1 {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10%;
    margin-bottom: 20px;
}

.main p {
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 35%;
    margin: auto;
    color: #ffffff;
    line-height: 1.7;
}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


.linkedin-container {
    position: absolute;
    top: 40px;
    right: 210px;
  }
  
  .fab.fa-linkedin {
    font-size: 40px;
    color: #a3a3a3;
  }
  
  .github-container {
    position: absolute;
    top: 40px;
    right: 150px;
  }
  
  .fa-brands.fa-github {
    font-size: 40px;
    color: #a3a3a3;
  }

  .email-container {
    position: absolute;
    top: 40px;
    right: 80px;
  }
  
  .fa-solid.fa-envelope-circle-check {
    font-size: 40px;
    color: #a3a3a3;
  }