

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* animated background */
.Header{
    z-index: 1;
    background: linear-gradient(-90deg, rgb(255, 0, 0), rgb(1, 255, 242), rgb(234, 0, 255), yellow);
    background-size: 400% 400%;
    width: 100%;
    height: 300vh;
    animation: animate 30s ease infinite;
}

.Header ul{
    height: 50px;
    display: flex;
    justify-content: center;
}

 .Header ul li{
    display: inline-block;
    padding: 40px 15px;
}

 .Header ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 10px;
}  
/* Nav bar hover */
.Header ul li a:hover{
    position: relative;
      color: #000000;
      border-bottom: 1px solid rgb(0, 0, 0);
  }
  
  .Header ul li a::after{
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #000000;
      transform-origin: bottom right;
      transition: transform 0.5s ease-out;
  }
  
  .Header ul li a:hover::after{
      transform: scaleX(1);
      transform-origin: bottom left;
  }
  
/* My project edit */
.Header h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin-top: 10%;
    margin-bottom: 20px;
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/* Project cards */
.container{
    display: flex;

}
/* card size */
.card{
    height: 450px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

/* Img sizing */
.card img{
    height: 500px;
    width: 350px;
    border-radius: 3px;
}

/* This is the preview name on the card */
.intro{
    height: 70px;
    width: 350px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    bottom: 163px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    transition: .5s;
}

.container h2{
    margin: 10px;
    font-size: 25px;
}

/* Writing within the card */
.container p{
    font-size: 20px;
    margin: 20px;
    max-width: 350px;
    visibility: hidden;
    opacity: 0;
}

span{
font-weight: bold;
}

/* Pointer */
.card:hover{
    cursor:pointer;
}

/* this is the box size that contains all the writing and header when hovered over */
.card:hover .intro{
    height: 350px;
    bottom: 163px;
    background: black;
}

.card:hover p{
    opacity: 1;
    visibility: visible;
}

/* This is to get rid of the underline when it becomes a URL */
.intro a{
    color: #fff;
    text-decoration: none;
}